:root {
  background-color: #242424;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --butterfly-blue-fill: #38ACEC;
  --butterfly-blue-fill-0\.5: rgb(56 172 236 / 0.5);
  --blue-fill: #0059FF;
  --blue-fill-0\.5: rgb(0 89 255 / 0.5);
  --blue-darker-fill: #123456;
  --blue-darker-fill-0\.5: rgb(18 52 86 / 0.5);
  --yellow-fill: #f9db24;
  --yellow-fill-0\.5: rgb(249 219 36 / 0.5);
  --red-fill: #ff0000;
  --red-fill-0\.5: rgb(255 0 0 / 0.5);
  --black-fill: #ff0000;
  --black-fill-0\.5: rgb(0 0 0 / 0.5);

  --light-gray-edge: rgb(238 238 238 / 0.75);

  --error: #dc3545;
  --warning: #ffc107;
  --info: #0dcaf0;
  --success: #198754;
  /* --error: #ff0033; */
  /* --success: #22bb33; */
}

a {
  color: #646cff;
  font-weight: 500;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: #1a1a1a;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.top-nav-bar {
  z-index: 1000;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    color: #213547;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
